body {font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul,ol {list-style-type: none;
}

/* header */

.logo {font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

.header-studio {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-studio:hover,
.header-studio:focus {color: #404BBF;
}

.header-studio:active {text-decoration: underline;
}

.header-port {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-port:hover,
.header-port:focus {color: #404BBF;
}

.header-contacts {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-contacts:hover,
.header-contacts:focus {color: #404BBF;
}

.address-email {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

.address-email:hover,
.address-email:focus {color: #404BBF;
}

.address-tel {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-tel:hover,
.address-tel:focus {color: #404BBF;
}

/* /header */

/* main */

/* section 1 */

.title-bg {background: #2e2f42;
}

.main-text {font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.button {font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    background-color: #4D5AE5;
}

.button:hover {
    background-color:#404BBF;
}

/* /section 1 */

/* section 2   */

.strategy {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.par-strategy {font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.punctuality {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.par-punctuality {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.diligence {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.par-diligence {font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.technologies {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.par-technologies {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* /section2 */

/* section3 */

.two-bg {background-color: #F4F4FD;
}

.team {font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
        font-size: 36px;
    text-align: center;
}

.team-name {background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-prof {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /section3 */

/* section4 */

.portfolio { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.par-port {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.par-work {font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* /section4 */
/* .main */

/* footer */

.last-bg {background-color: #2e2f42;
}

.logo-footer {color: #F4F4FD;
}

.text-footer {color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /footer */